body{
  background-color: #242424;
  color: #f4f4f4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 0.5rem;
}
h1{
  font-size: 3rem;
  line-height: 1;
}
h1 + h2 {
  font-size: 1.1rem;
  margin-top: -1.4rem;
  opacity: 0.9;
  font-weight: 400;
}
a{
  color: #f4f4f4;
}
main{
  max-width: 40rem;
  margin: auto;
}