---
import Main from "../layout/Main.astro"
const profileImage = 'photo.png'
---

  <Main title="Samuel Perez | Personal Website" >
		<section class="profile">
			<img src={profileImage} class="profile-img" alt="Profile picture">
			<div class="profile-details">
				<h1>Samuel Perez</h1>
				<h2>FullStack Developer from Cienfuegos, Cuba.</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore cupiditate, molestiae minima culpa..</p>
				<a class="btn" href="/about">Read More</a>
			</div>
		</section>
	</Main>


<style>
	.profile{
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		padding: 1rem 0 3rem 0;
	}
	.profile-details{
		flex: 1 0 300px;
	}
	.profile-details > h1{
		margin-top: 0;
	}
	.profile-img{
		border-radius: 50%;
		margin: 0 2rem 1rem 0;
	}


</style>

