---
import Card from "./Card.astro";
import type { Props as CardProps } from "./Card.astro";

type Props = {
  cards: CardProps[];
}

const {cards} = Astro.props
---

<section class="cards-container">
  {
    cards.map((card) => <Card {...card} />)
  }
</section>

<style>
  .cards-container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  @media screen and (min-width: 768px){
    .cards-container{
      flex-direction: row;
    }
  }
</style>

