<button class="btn-donate" >Buy me a coffee</button>
<style>
	.btn-donate{
		background: var(--grey-200);
		color: var(--background);
		border: 0;
		border-radius: 30px;
		padding: 0.5rem 1.5rem;
    cursor: pointer;
    transition: all .1s ease-in;
	}
  .btn-donate:hover{
    transform: scale(1.1);
  }
</style>