<footer>
  <ul>
    <li><a href="">GitHub</a></li>
    <li><a href="">Twitter</a></li>
    <li><a href="">Linkedin</a></li>
  </ul>
  <h3>&copy; Samuel Perez</h3>
</footer>

<style>
  footer{
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
  }
  ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  li{
    padding: 0 1rem;
  }
</style>