---
import Main from "./Main.astro";

// import type utility for the markdown layout props
import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{
  title: string
  poster: string
  subtitle: string
}>

const {poster, title, subtitle} = Astro.props.frontmatter
---
<Main title="Samuel Perez | Blog">
  <figure class="blog-figure">
    <img 
      src={poster} 
      alt="picture of laptop on a table"
      width="100%"
      height="340px"
      class="figure-img"
    />
    <figcaption class="figure-caption">
      Poster image for {title.toLowerCase()}
    </figcaption>
  </figure>
  <h1>{title}</h1>
  <h2>{subtitle}</h2>
  <slot />
</Main>

<style>
  h1 + h2{
    margin-bottom: 3rem;
  }
  .blog-figure{
    margin: 0;
  }
  .figure-img{
    max-width: 100%;
    border-radius: 10px;
  }
  .figure-caption{
    font-size: .9rem;
  }
</style>