---
import '../styles/global.css'
import Footer from '../components/Footer.astro'
import NavigationBar from '../components/NavigationBar.astro'
import DonateBtn from '../components/DonateBtn.astro';

//Props
interface Props {
	title: string
}
const {title} = Astro.props as Props
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <!-- meta for SEO -->
    <meta name="description" content="Second Project WebSite builded with Astro" />
		<title>{title}</title>
		<!-- Script is:inline -->
		<!-- to eradicated the flash of  incorrect theme-->
		<script is:inline>
			const THEME_CLASS = 'light'
			// LocalStorage
			const COLOR_MODE = "COLOR_MODE"
			const DARK_THEME = "DARK"
			const LIGHT_THEME = 'LIGHT'
			const rootEl = document.documentElement
			// Getting Theme from LocalStorage
			const getInitialColourMode = () => {
				const prevSavedColourMode = window.localStorage.getItem(COLOR_MODE)
				return prevSavedColourMode ? prevSavedColourMode : DARK_THEME
			}
			const initialColorMode = getInitialColourMode()
			const setInitialColourMode = (mode) => {
				mode === LIGHT_THEME 
					? rootEl.classList.add(THEME_CLASS)
					: rootEl.classList.remove(THEME_CLASS)
			}
			setInitialColourMode(initialColorMode)
		</script>
	</head>
	<body>
		<main>
			<DonateBtn />
			<NavigationBar />
			<slot />
			<Footer />
		</main>
	</body>
</html>



